/* ===== CSS RESET ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f6f8;
    color: #333;
}

/* section spacing */
section{
    padding: 60px 20px;
}

/* headings */
h1, h2, h3{
    margin-bottom: 15px;
    text-align: center;
}
