*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #f4f6f8;
    color: #333;
}


section{
    padding: 60px 20px;
}


h1, h2, h3{
    margin-bottom: 15px;
    text-align: center;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0a192f;
    color: white;
    padding: 15px 40px;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;

}
.nav-links a:hover{
    color: #64ffda;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #112240;
    color: white;
    min-height: 90vh;
    
}


.hero-content{
    max-width: 600px;
}

.profile-img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid #64ffda;
}

.btn{
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #64ffda;
    color: #0a192f;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover{
    background: white;
}
.about{
    background: white;
    max-width: 800px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    
}

.skills{
    background: #e9eef3;
}

.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.skill-card{
    background: white;
    padding: 25px;
    width: 150px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.skill-card:hover{
    transform: translateY(-5px);
}
.projects{
    background: white;
}

.project{
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    background: #f4f6f8;
    text-align: center;
}

.project img{
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project a{
    display: inline-block;
    margin-top: 10px;
    color: white;
    background: #0a192f;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 5px;
}

.calculator{
    background: #e9eef3;
    text-align: center;
}

#gpaForm input{
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 250px;
}

#gpaForm button{
    padding: 12px 20px;
    background: #0a192f;
    color: white;
    border: none;
    cursor: pointer;
}

#result{
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
}

.contact{
    background: white;
    text-align: center;
}

#contactForm input,
#contactForm textarea{
    display: block;
    margin: 10px auto;
    padding: 12px;
    width: 280px;
}

#contactForm button{
    padding: 12px 20px;
    background: #64ffda;
    border: none;
    cursor: pointer;
}

footer{
    background: #0a192f;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px){

    .navbar{
        flex-direction: column;
        gap: 10px;
    }

    .nav-links{
        flex-direction: column;
        align-items: center;
    }

    .hero{
        padding: 40px 10px;
    }

    .skills-container{
        flex-direction: column;
        align-items: center;
    }

    .project img{
        width: 100%;
    }
}
